### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
num_players = len(purchase_data["SN"].unique())
num_players

576

In [12]:
player_data = purchase_data[["SN", "Age", "Gender"]]
player_data= player_data.drop_duplicates()
player_data

                SN  Age  Gender
0          Lisim78   20    Male
1      Lisovynya38   40    Male
2       Ithergue48   24    Male
3    Chamassasya86   24    Male
4        Iskosia90   23    Male
..             ...  ...     ...
773         Hala31   21    Male
774     Jiskjask80   11    Male
775     Aethedru70   21  Female
777     Yathecal72   20    Male
778        Sisur91    7    Male

[576 rows x 3 columns]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Run basic calculations to obtain number of unique items, average price, etc.
#Uniquie Items
number_of_unique_items = len(purchase_data["Item Name"].unique())
number_of_unique_items 
#Average Price
av_price = (purchase_data["Price"].mean())
#Number of Purchases
num_purchases = (purchase_data["Item ID"].count())
#Total Revenue
total_rev= purchase_data["Price"].sum()

In [10]:
summary_dict = {
    "Numer of Unique Items": [number_of_unique_items],
    "Average Price": "$" + str(round(av_price,2)),
    "Number of Purchases": [num_purchases],
    "Total Revenue": "${:,.2f}".format(total_rev),
}
summary_df= pd.DataFrame(summary_dict)
summary_df.head()

   Numer of Unique Items Average Price  Number of Purchases Total Revenue
0                    179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Percentage & Count by Gender
gender_df = player_data["Gender"].value_counts().to_frame()
gender_df = gender_df.rename(
    columns={"Gender": "Count"})
gender_df["Percentage"] = num_players
gender_df["Percentage"] = (gender_df["Count"]/gender_df["Percentage"]).map("{:.2%}".format)
gender_df.head()

                       Count Percentage
Male                     484     84.03%
Female                    81     14.06%
Other / Non-Disclosed     11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Gender Value
gender_df = player_data["Gender"].value_counts().to_frame()

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
# purchase_per_person = purchase_data.groupby(["Gender", "Price", "SN"]).mean()["Price"].rename("Avg Total Purchase per Person")
purchase_per_person = (gender_purchase_total/gender_df["Gender"])

#Create a summary data frame to hold the results
gender_data_df = pd.DataFrame({"Purchase Count": gender_counts, 
                            "Average Purchase Price": (gender_average).map("${:,.2f}".format), 
                            "Total Purchase Value": (gender_purchase_total).map("${:,.2f}".format),
                            "Avg Total Purchase per Person": (purchase_per_person).map("${:,.2f}".format)})
gender_data_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame